@import "tailwindcss";

:root {
  /* Light Mode */
  --background: #0b0b0f;
  --foreground: #f8f8f8; /* light text on light */
  --accent: #4ade80; /* green */
  --secondary: #a1a1aa;
  --border: #2e2e2e;
  --highlight: #84dccf;

  /* colour for college finder */
  --collegefinder-background: #e8f3f6;
  --collegefinder-foreground: #22181c;
  --collegefinder-accent: #62c9ef;
  --collegefinder-secondary: #785252;
  --collegefinder-highlight: #84dccf;

  /* colour for blogging */
  --blogging-background: #84dccf;
  --blogging-foreground: #22181c;
  --blogging-accent: #ef626c;
  --blogging-secondary: #312f2f;
  --blogging-highlight: #f6e8ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22181c; /* deep maroon */
    --foreground: #f6e8ea; /* light text on dark */
    --accent: #ef626c; /* light red */
    --secondary: #84dccf; /* mint highlights in dark */
    --highlight: #f6e8ea; /* light text on dark */
    --border: #2e2e2e; /* deep maroon */    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
